<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<settings>
		<setting name="logImpl" value="LOG4J" />
	</settings>
	<typeAliases>
		<package name="com.star.pojo" />
	</typeAliases>

	<mappers>
	<!-- 文件映射 -->
		<mapper resource="com/star/dao/jcl/userMapper.xml" />
		<mapper resource="com/star/dao/jcl/insert.xml" />
		<mapper resource="com/star/dao/znn/user/Login.xml" />
		<mapper resource="com/star/dao/jcl/favoriteMapper.xml" />
		
	</mappers>

</configuration>
	
